<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: black;">
    <div class="Whole" style="margin: auto;">
        <!-- Top Header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding: 10px; width: 976px; margin-left: 12px;">
            <div class="d-flex justify-content-around">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo8.jpg' %}" style="border-radius: 5px;" width="170" height="40" class="d-inline-block align-top">
                </a>
                <a href="/order_page" style="margin: 10px;"><button class="btn btn-success" type="button">Order Now</button></a>
                <a href="/" style="margin: 10px;"><button class="btn btn-success" type="button">Main</button></a>
                <a href="/contact_page" style="margin: 10px;"><button class="btn btn-success" type="button">Contact Us</button></a>
                <a href="/logout" style="margin: 10px;"><button class="btn btn-success" type="button">Logout</button></a>
            </div>
        </nav><br><br>

        <h1 style="margin-left: 190px;">Welcome, {{user.first_name}}</h1><br><br>
        <p style="margin-left: 190px;"><b>Account Info</b></p>
        <!-- Edit Info -->
        <form action='/update_user/{{user.id}}' style="margin-left: 190px;" method="POST">
            <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
            {% csrf_token %}
            <input type='text' class="form-control" placeholder="First Name" value="{{user.first_name}}" style="width: 300px;" name='first_name'>
            <input type='text' class="form-control" placeholder="Last Name" value="{{user.last_name}}" style="width: 300px;" name='last_name'>
            <input type='email' class="form-control" placeholder="Email" value="{{user.email}}" style="width: 300px;" 
            name='email'>
            <input class="btn btn-primary btn-lg" style="width: 300px;"  type='submit'>
        </form><br><br>
        <!-- Past Orders -->
        <h1 style="margin-left: 190px;">Past Orders</h1><br>
        <table class="table table-striped table-dark" style="width: 750px; margin-left: 124px;">
        <tr>
            <th>Order Number</th>
            <th>Amount</th>
            <th>Bowl</th>
        </tr>
        {% for order in user_orders  %}
        <tr>
            <td>{{order.id}}</td>
            <td>${{order.amount}}</td>
            <td>
                <p>Method {{order.acai.method}}</p>
                <p>Size {{order.acai.size}}</p>
                <p>Base {{order.acai.base}}</p>
                <p>Quantity {{order.acai.quantity}}</p>
                <p>Toppings {{order.acai.toppings}}</p>
                <p>Beverage {{order.acai.beverage}}</p>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>