<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Acai</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: black;">
    <div class="Whole" style="margin: auto;">
        <!-- Top Header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding: 10px; width: 976px; margin-left: 12px;">
            <div class="d-flex justify-content-around">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo8.jpg' %}" style="border-radius: 5px;" width="170" height="40" class="d-inline-block align-top">
                </a>
                <a href="/order_page" style="margin: 10px;"><button class="btn btn-success" type="button">Order Now</button></a>
                <a href="/account" style="margin: 10px;"><button class="btn btn-success" type="button">Account</button></a>
                <a href="/contact_page" style="margin: 10px;"><button class="btn btn-success" type="button">Contact Us</button></a>
                <a href="/story_page" style="margin: 10px;"><button class="btn btn-success" type="button">Our Story</button></a>
            </div>
        </nav><br>
        <img style="margin-left: 400px; border-radius: 15px;" src="{% static 'images/craft.jpg' %}" width="200px" alt="Craft-A-Acai"><br><br>
        <!-- Randomly generates a Bowl -->
        <form action='/create_bowl' class="bowl_create" method="POST">    
            {% csrf_token %}
            Method:
            <input name='method' class="form-control" style="width: 300px;" value="{{acai.method}}">
            Size:
            <input name='size' class="form-control" style="width: 300px;" value="{{acai.size}}">
            Base:
            <input ect name='base' class="form-control" style="width: 300px;" value="{{acai.base}}">
            Quantity:
            <input name='quantity' class="form-control" style="width: 300px;" value="{{acai.quantity}}">
            Topping:<br>
            <input name="toppings" class="form-control" style="width: 300px;" value="{{acai.toppings}}">
            Drinks(optional):
            <input name="beverage" class="form-control" style="width: 300px;" value="{{acai.beverage}}">
            <br><input class="btn btn-primary btn-lg" style="width: 300px;" type='submit'>
        </form><br><br>
    </div>
</body>
</html>